<!DOCTYPE html>
<html>
<head>
	<title>註冊頁面</title>
</head>
<p> {{error}} </p>
<body>
	<h1>註冊頁面</h1>
	<form action="/register" method="post">
		<label for="account">帳號:</label>
		<input type="text" id="account" name="account" required><br><br>

		<label for="password">密碼:</label>
		<input type="password" id="password" name="password" required><br><br>
        
        <label for="repassword">再次輸入密碼:</label>
		<input type="password" id="repassword" name="repassword" ><br><br>

		<label for="phone">電話:</label>
		<input type="text" id="phone" name="phone" required><br><br>

		<label for="address">地址:</label>
		<input type="text" id="address" name="address" required><br><br>
		<input type="submit" value="送出">
	</form>
</body>
</html>
